  <!------------CONTACT----------->
  <section class="contact" id="contact">
    <article class="container-1 section  form">
      <div class="divider">
        <h2 class="section-title">CONTACTAME</h2>
      </div>
      <aside class="contact-form">
        <form action="https://formsubmit.co/nicofrances88@gmail.com" method="POST">
          <input type="text" name="name" required placeholder="Ingrese su nombre *"
            title="Ingrese su nombre y apellido, solo letras">

          <input type="email" name="email" required placeholder="Ingrese un correo electrónico válido *"
            title="Ingrese un correo electrónico válido, este campo es requerido">

          <input type="text" name="number" min="1" max="15" placeholder="Ingrese un número de teléfono para contactarlo"
            title="Ingrese un número de teléfono válido">

          <textarea name="message" cols="30" rows="10" required placeholder="Deje su mensaje *"
            title="Rellene este campo, requerido"></textarea>
            
          <input class="button" type="submit" value="Enviar">
        </form>
      </aside>
    </article>
  </section>