  <!------------PORTFOLIO--------->
  <section class="portfolio" id="portfolio">
    <div class="portfolio-img">
      <div class="divider section">
        <h2 class="section-title">PORTFOLIO</h2>
      </div>
    </div>
    <article class="portfolio-background">
      <aside class="portfolio-grid full-lg-screen">
        <div class="portfolio-card">
          <img src="assets/Project.png" alt="Proyecto1">
          <aside class="portfolio-card-info">
            <div>
              <h3>Proyecto1</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem earum, ratione maxime ex
                obcaecati aut id reprehenderit soluta possimus dolor? Natus exercitationem repellendus in ab sit vitae
                totam ducimus?</p>
            </div>
          </aside>
        </div>
        <div class="portfolio-card">
          <img src="assets/proyect2.png" alt="Proyecto2">
          <aside class="portfolio-card-info">
            <div>
              <h3>Proyecto 2</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem earum, ratione maxime ex
                obcaecati aut id reprehenderit soluta possimus dolor? Natus exercitationem repellendus in ab sit vitae
                totam ducimus?</p>
            </div>
          </aside>
        </div>
        <div class="portfolio-card">
          <img src="assets/Project3.png" alt="Proyecto3">
          <aside class="portfolio-card-info">
            <div>
              <h3>Proyecto 3</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem earum, ratione maxime ex
                obcaecati aut id reprehenderit soluta possimus dolor? Natus exercitationem repellendus in ab sit vitae
                totam ducimus?</p>
            </div>
          </aside>
        </div>
        <div class="portfolio-card">
          <img src="assets/Project4(1).png" alt="Proyecto4">
          <aside class="portfolio-card-info">
            <div>
              <h3>Proyecto 4</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem earum, ratione maxime ex
                obcaecati aut id reprehenderit soluta possimus dolor? Natus exercitationem repellendus in ab sit vitae
                totam ducimus?</p>
            </div>
          </aside>
        </div>
        <div class="portfolio-card">
          <img src="assets/Project.png" alt="Proyecto5">
          <aside class="portfolio-card-info">
            <div>
              <h3>Proyecto 5</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem earum, ratione maxime ex
                obcaecati aut id reprehenderit soluta possimus dolor? Natus exercitationem repellendus in ab sit vitae
                totam ducimus?</p>
            </div>
          </aside>
        </div>
        <div class="portfolio-card">
          <img src="assets/Project3.png" alt="Proyecto6">
          <aside class="portfolio-card-info">
            <div>
              <h3>Proyecto 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem earum, ratione maxime ex
                obcaecati aut id reprehenderit soluta possimus dolor? Natus exercitationem repellendus in ab sit vitae
                totam ducimus?</p>
            </div>
          </aside>
        </div>
      </aside>
    </article>
  </section>