 <!------------FOOTER------------>
<footer class="footer" id="footer">
    <article class="divider">
      <a href="#">A INICIO</a>
      <div>
        <a href="https://www.facebook.com/cibrc.ar" class="alinks"><i class='bx bxl-meta icons'></i></a>
          <a href="https://github.com/niko-master/" class="alinks"><i class='bx bxl-github icons'></i></a>
          <a href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3B4XZJCVIUQru7PsgA6JI2mQ%3D%3D" class="alinks"><i class='bx bxl-linkedin icons'></i></a>
        </div>
      <h3><b>@2022 Consultoría Informática Bariloche</b>/ Todos los derechos reservados.</h3>
    </article>
</footer>