  <!------------SERVICES---------->
  <section class="services" id="services">
    <div class="container-1 section full-lg-screen">
      <div class="divider">
        <h2 class="section-title">¿QUE TE OFREZCO?</h2>
      </div>
      <div class="services-grid">
        <article class="services-card">
          <h2><img src="assets/design.png" alt="Soporte técnico informático">Soporte técnico informático</h2>
          <p>Nuestra manera de trabajo en cuanto a soporte técnico y Help Desk que hemos desarrollado durante los últimos 10 años
            nos ah posicionado ante nuestros clientes de la mejor manera. Minimizando los riesgos y maximizando el rendimiento 
            de la infrastructura. Trabajos tanto online como onsite.</p>
        </article>
        <article class="services-card">
          <h2><img src="assets/tools.png" alt="Consultoría IT">Consultoría IT</h2>
          <p>Los sistemas informáticos actuales necesitan contar con especialistas capacitados para poder asesorar en la compra
             y actualizacion de los equipos o software. Ofrecemos a nuestros clientes la mejor atención para poder solucionar
            todo tipo de inconvenientes.</p>
        </article>
        <article class="services-card">
          <h2><img src="assets/work.png" alt="Infrastructura IT">Infrastructura IT</h2>
          <p>Hoy en día es totalmente necesitario contar con una buena infrastructura de redes y computadoras que funcionen
            con el mejor rendimiento posible. Contamos con las herramientas necesiarias para ofrecer y solucionar inconvenientes
            de cableados, servidores, pc de oficina y cámaras de vigilancia. Optimizar el rendimiento es un punto clave.</p>
        </article>
        <article class="services-card">
          <h2><img src="assets/design.png" alt="Servicios en la Nube">Servicios en la Nube.</h2>
          <p>Cuando hablamos de Servicios en la Nube o Service On Cloud, pensamos en disponer o alojar nuestros datos, 
            los cuales pueden ser Aplicaciones o Sistemas, Servicios contratados en formato SAS (Software as Service) o
            nuestros archivos de uso diario en el algún servidor en la Nube.</p>
        </article>
        <article class="services-card">
          <h2><img src="assets/tools.png" alt="Desarrollo">Desarrollo web</h2>
          <p>Nuestro nuevo servicio de desarrollo web ahora está disponible. Consultá a nuestro mail por presupuestos</p>
        </article>
        <article class="services-card">
          <h2><img src="assets/work.png" alt="design">Mantenimiento</h2>
          <p>Realizamos el mantenimiento necesiario diario para que todos los servicios ofrecidos funcionen de manera óptima y eficiente.</p>
        </article>
      </div>
    </div>
  </section>